<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="task">
      <h2 data-cy="taskDetailsHeading"><span jhiTranslate="jhipsterTaskMApplicationApp.task.detail.title">Task</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ task.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.title">Title</span></dt>
        <dd>
          <span>{{ task.title }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.description">Description</span></dt>
        <dd>
          <span>{{ task.description }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.startTime">Start Time</span></dt>
        <dd>
          <span>{{ task.startTime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.endTime">End Time</span></dt>
        <dd>
          <span>{{ task.endTime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.module">Module</span></dt>
        <dd>
          <div *ngIf="task.module">
            <a [routerLink]="['/module', task.module.id, 'view']">{{ task.module.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.project">Project</span></dt>
        <dd>
          <div *ngIf="task.project">
            <a [routerLink]="['/project', task.project.id, 'view']">{{ task.project.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterTaskMApplicationApp.task.employee">Employee</span></dt>
        <dd>
          <div *ngIf="task.employee">
            <a [routerLink]="['/employee', task.employee.id, 'view']">{{ task.employee.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
